<div class="container">
	<div class="formcontainer">
		<form class="passwordForm">

			<h2>Recuperaci칩n de Contrase침as</h2>

			<div class="main">
				<div class="input-container">
					<input type="password" id="password" placeholder="contrase침a">
					<span class="toggle-icon"><i class="fas fa-eye-slash"></i></span>
				</div>

				<div class="input-container">
					<input type="password" id="passwordConfirm" placeholder="confirme su contrase침a">
					<span class="toggle-icon-confirm"><i class="fas fa-eye-slash"></i></span>
				</div>
				<span class="passwordError"></span>
			</div>

			<button type="submit">Enviar</button>
		</form>
	</div>
</div>
