<div class="container">
	<div class="formcontainer">
		<div class="unauthorized">
			<h1>Acceso no autorizado</h1>
			<p>Lo sentimos tu token ya ha sido utilizado. Para poder restablecer tu contraseña tienes que iniciar un nuevo proceso.</p>
		</div>
	</div>
</div>
