<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>node app</title>
	<link rel="stylesheet" href="/css/recovery.css">
</head>

<body>

	{{{body}}}

	<script src="/js/verify.js"></script>
</body>

</html>
